PORT=3000
ADMIN_WHATSAPP_PHONE=923230114523
WHATSAPP_BUSINESS_PHONE=923230114523
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx39ktQBljdtuO_S-UrLjQOob4mZX_2_qZeClNyPXcIsZT4rTazs_Wv-RHitD0XeihC/exec
LOGINWA_SECRET=
GEMINI_API_KEY=
